body{
    padding:0%;
    margin:0%;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    background-color: white;
   display:flex;
  margin:5px;
   overflow: auto;
   border-radius:40px 40px;
   height:60px
}    
nav ul li a{
    text-decoration: none;
    color: black;
}
 li a:hover{
color:rgb(110, 110, 187)
}
ul li button{
    border-radius: 40px;
    color:white;
}
li{
    float:left;
 margin:5px 30px;
      list-style: none;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bolder;
     
}
.b{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: xx-large;
   font-weight: lighter;
 
   position: relative;
   bottom:10px
}
.b img{
    height:35px;
    width:40px;
}
section{
    text-align: left;
}
#b1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    text-align: left;
    position:relative;
    left:110px;

}


.b2{
    display:inline;
    background-color: rgb(153, 153, 217);
    color:black;
    position:relative;
    left:5px;
  
}
.b3{
 display:inline-block;
    background-color: rgb(128, 128, 225);
    color:black
}
 #b1 button{
    background-color:black;
    color:white;
    border-radius: 40px;
    position:relative;
    left:190px;
}
/*course page*/
section{
   position: relative;
   top:40px;
   text-align: center;
}
#n1{
       display:inline-block;
    height:300px;
    width:300px;
    background-color: rgb(93, 93, 155);
}
  #n1  a{
    color:black;
    font-weight: bolder;
  
}
#n1 a:hover{
    background-color: aliceblue;
}
#n2{
    display:inline-block;
    height:300px;
    width:300px;
    background-color: rgb(138, 138, 184);
    color:white;
    font-weight: bolder;

}
#n2 a{
    color:black;
    font-weight: bolder;
  
}
#n2 a:hover{
    background-color: aliceblue;
}
#n3{
    text-align: center;
    position: relative;
    top:40px;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*About*/
.c1 h1{
    font-size: xx-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0px;
    font-weight: bolder;
}
.c2{
  color:blueviolet;
    height:500px;
    font-size: larger;
    font-weight: bolder;
}
/*Contact*/
.c{
    height:600px;
    width:500px;
    background-color:white;
    position: absolute;
    left: 450px;
    bottom:40px;
    border-radius: 50px;
}
.d{
    background-color: rgb(138, 155, 243);
    height:90px;

}
.d h1{
    position: absolute;
    left: 173px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: xx-large;
}
.d h1:hover{
    background-color: rgb(179, 179, 227);
}
.d1{
    text-align: center;
}
.d1 input{
    border-radius: 40px;
    border-width: 5px;
    border-color: blue;
    width:250px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.d1 button{
    color:white;
    border-radius: 40px;
}
#s3{
 border-radius: 0px;
height:50px;
}